{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= blogs Section ======= -->
    <section class="vh-150" style="background-color: #eee;">

<div class="container mt-5">
        <div class="row">
            {% for blog in blogs %}
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3">
                        <img src="{{ blog.image }}" width="100%">
                    </div>
                    <h6>{{ blog.title }}</h6>
                    <div class="d-flex justify-content-between install mt-3">
                        <a href="{% url 'blog_detail_page' blog_id=blog.id %}" class="btn btn-primary">
                            View Blog
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}